
@media screen and (min-width:1000px) {
  .newspaperBtn{
    display:none;
  }
  .nav-mobile{
    display:none;
  }
}
@media screen and (max-width:1000px){
  .rightside{
    display:none!important;
  }
}
.nav-mobile{
  font-size: 1.7rem;
}

#profile-menu-launcher{
  display:none;
  &:checked ~ .profile-menu {
    right:0;
  }
}
.profile-menu{
  height: 100vh;
  width: 300px;
  background:#222;
  position: absolute;
  top:51px;
  right:-300px;
  z-index: 300;
  transition:all .5s;
}
.Header{
  &.t1{
    background: #741c3e;
    .logo{
      background: #520e28;
    }
    .router-link {
      &:active, &:hover {
        //background: #645dcb;
        color: #FFF;
        background:#520e28;
        border: 2px solid transparent;
      }
    }
    .profilem{
      border:3px solid #520e28;
    }
    & ~ * {
      &.Footer{
        background: #741c3e;
      }
      button, a[type=btn]{
        border: 2px solid #741c3e;
        color: #741c3e;
        &:hover{
            background: #741c3e;
            color:white;
        }
      }
    }
    
  }
  &.t2{
    background: #2b4e94;
    .logo{
      background: #1f3e7c;
    }
    .router-link {
      &:active, &:hover {
        //background: #645dcb;
        color: #FFF;
        background:#1f3e7c;
        border: 2px solid transparent;
      }
    }
    .profilem{
      border:3px solid #1f3e7c;
    }
    & ~ * {
      &.Footer{
        background: #2b4e94;
        .ButtonF{
          color:white;
        }
      }
      button,  a[type=btn]{
        border: 2px solid #2b4e94;
        color: #2b4e94;
        &:hover{
            background: #2b4e94;
            color:white;
        }
      }
    }
  }
  &.t3{
    background: #222;
    .logo{
      background: #bb1919;
    }
    .router-link {
      &:active, &:hover {
        //background: #645dcb;
        color: #FFF;
        background:#bb1919;
        border: 2px solid transparent;
      }
    }
    .profilem{
      border:3px solid black;
    }
    & ~ *{
      &.Footer{
        background: #222;
      }
      button, a[type=btn]{
        border: 2px solid #222;
        color: #222;
        &:hover{
            background: #222;
            color:white;
        }
      }
    }
  }
  &.t4{
    background: #041122;
    .logo{
      background: #259074;
    }
    .router-link {
      &:active, &:hover {
        //background: #645dcb;
        color: #FFF;
        background:#259074;
        border: 2px solid transparent;
      }
    }
    .profilem{
      border:3px solid black;
    }
    & ~ *{ 
      &.Footer{
        background: #041122;
      }
      button, a[type=btn]{
        border: 2px solid #041122;
        color: #041122;
        &:hover{
            background: #041122;
            color:white;
        }
      }
    }
  }
  &.t5{
    background: #0c0330;
    .logo{
      background: #842440;
    }
    .router-link {
      &:active, &:hover {
        //background: #645dcb;
        color: #FFF;
        background:#842440;
        border: 2px solid transparent;
      }
    }
    .profilem{
      border:3px solid black;
    }
    & ~ *{ 
      &.Footer{
        background: #0c0330;
        .ButtonF{
            color:#f6ecc8;
        }
      }
      button, a[type=btn]{
        border: 2px solid #0c0330;
        color: #0c0330;
        &:hover{
            background: #0c0330;
            color:white;
        }
      }
    }
  }
  &.t6{
    background: #2b2424;
    .logo{
      background: #c4b493;
    }
    .router-link {
      &:active, &:hover {
        //background: #645dcb;
        color: #FFF;
        background:#842440;
        border: 2px solid transparent;
      }
    }
    .profilem{
      border:3px solid black;
    }
    & ~ *{ 
      &.Footer{
        background: #2b2424; //#786b40;
        .ButtonF{
            color:#c4b493;
        }
      } 
      
      button, a[type=btn]{
        border: 2px solid #786b40;
        color: #786b40;
        &:hover{
            background: #786b40;
            color:white;
        }
      }
    }
  }
  
}
.Header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem 0 0rem;
  //background: #222;
  //background: #2b4e94;
  background: #741c3e;
  color:white;
  vertical-align: bottom;
  .centered{
    text-align:center;
  }
  .rightside{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    //background: #bb1919;
    //background: #f9f9f9;
    //background: green;
    //background: #1f3e7c;
    background: #520e28;
    height: 100%;
    padding:.4rem 2.5rem;
    img{
      width: 60px;
    }
  }
  img {
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  .nav-bar {
    text-align: center;
  }
  .profilem{
    display:inline-flex;
    border:2px solid #272727;
    border-radius: 100%;
    overflow:hidden;
    width: 37px;
    height: 37px;
    margin-left: .5rem;
    cursor:pointer;
  }
  .router-link {
    display: inline-flex;
    padding: 0.2em 1em;
    margin: 0 .2em;
    text-decoration: none;
    border-radius: 4px;
    -webkit-font-smoothing: antialiased;
    -webkit-touch-callout: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    border: 2px solid transparent;
    //border: 2px solid #645dcb;
    //color: #645dcb;
    color:white;

    &:active, &:hover {
      //background: #645dcb;
      color: #FFF;
      border: 2px solid white;
    }
  }
}

