.BreakingNew{
    //width: 100%;
    height:280px; 
    overflow: hidden;
    border-radius: 5px;

    

    .BreakingNewContainer{
        
        position:relative;
        width: 100%;
        height: 100%;
        //background: linear-gradient(90deg,#649ce6, #91e591);
        img.BackgroundImage{
            position: absolute;
            top: -9999px;
            bottom: -9999px;
            left: -9999px;
            right: -9999px;
            margin: auto;
            width: 110%;
            min-height: 100%;
            mix-blend-mode:luminosity;
            @media screen and (max-width:500px) {
                height: 250px;
            }
        }
        .Title{
            position: absolute;
            font-weight: 700;
            bottom:0;
            left: 0;
            width:100%;
            z-index: 12;
            color:black;
            font-size: 15px;
            padding: .5rem 1rem;
            background: rgba(255,255,255,1);
            $border-color: black;
            border: 1px solid #E2E2E2;
        }
        .RibbonLabel{
            position: absolute;
            z-index:10;
            
            background:#bb1919;
            color:white;
            padding: 5px 1rem;
            font-weight: 1000;
            font-size:12px;
            &::after{
                content: '';
                position: absolute;
                right: -28px;
                top: 0;
                width: 0;
                height: 0;
                border-right: 28px solid transparent;
                border-top: 28px solid #bb1919;
                clear: both;
            }
        }
    }
    
}