.feature-page {
  display:grid;
  grid-template-columns: 500px auto;
  grid-template-rows: 1fr;
  width:100%;
  transition: all .5s;
  padding: 1rem;
  @media screen and (max-width:900px) {
    
    width:calc(100% + 400px);
    &[data-offcanvas="true"]{
      margin-left: -400px;
    }
    &[data-offcanvas="false"]{
      margin-left: 0px;
    }
   
  }
  .NewsCardsContainer{
    overflow-y: scroll;
    max-height: 90vh;
    padding: 0 1rem;
    //background:#0d0310;
    //box-shadow: -10px 0px 10px 1px #aaaaaa;
  }
  .FeaturedAside{
    overflow-y: scroll;
    max-height: 90vh;
    .BreakingNewsSlider{
      padding: 1rem 1rem 0 1rem;
    }
    .CollectionsContainer{
      padding: .5rem;
      text-align: center;
      /*display:grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;*/
      //padding: 10px 1rem;
      /*display:flex;
      justify-content: space-between;
      flex-wrap:wrap;*/
      .RecomendationTitle{
        //color:white;
        margin-left:.7rem;
        text-align:left;
        display:bloc;
      }
    }
  }

  h1 {
    font-size: 2em;
    margin-bottom: 0.25em;
  }
  
  ul {
    font-family: 'Open Sans', sans-serif;
    padding-left: 1.75em;

    li {
      margin: 1em 0;

      p.title {
        font-weight: bold;
      }
    }
  }
}
