.AccountPage{
    display:grid;
    grid-template-columns: 500px auto;
    grid-template-rows: 1fr;
    width: 100%;
    height: 94vh;

    .ProfileCard{
        padding: 1rem;
        background:white;
        border: 1px solid #E2E2E2;
        margin-bottom: 1rem;
        .ProfileImage{
            max-width: 200px;
            border-radius: 4px;
            margin: 0 auto; 
            display:block;
            border: 2px solid #E2E2E2;
        }
        .UserName{
            text-align: center;
        }
        .UserData{
            padding-top:1rem;
            li{
                list-style: none;
            }
        }
    }

    .UserNav{
        padding: 1rem;
        background:white;
        border: 1px solid #E2E2E2; 
        a{
            text-decoration: none;
            color:blue;
        }
    }

    @media screen and (max-width:1000px){
        height: 85vh!important;
        //grid-template-columns: 1fr;
        display:block;
        overflow-y: scroll;
    }

    .AccountInfo, .AccountSwitch{
        padding: 2rem;
        overflow-y: scroll;
        max-width: 100%;
        @media screen and (max-width: 630px){
            padding: 1rem;
        }
    }

    .AccountSwitch{
        .History{
            background:white;
            border: 1px solid #e2e2e2;
            padding:1rem;
            .HistoryElem:first-child{
                border-top: 1px solid #e2e2e2;
            }
            .HistoryElem{
                border-bottom: 1px solid #e2e2e2;
                padding: .5rem 1rem;
                color:gray;
                transition: all .5s;
                display:flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                text-decoration: none;
                &:hover{
                    color:black;
                }
                .HistoryDate{
                    font-size: 11px;
                }
                div{
                    max-width:90%;
                }
            }
        }
        .Favorites{
            background:white;
            border: 1px solid #e2e2e2;
            padding:1rem;
            .FavElem:first-child{
                border-top: 1px solid #e2e2e2;
            }
            .FavElem{
                border-bottom: 1px solid #e2e2e2;
                padding: .5rem 1rem;
                color:gray;
                transition: all .5s;
                display: block;
                width: 100%;
                text-decoration: none;
                &:hover{
                    color:black;
                }
            }
        }
        .UserDataEdit{
            background:white;
            border: 1px solid #e2e2e2;
            padding:1rem;
            .ProfileImage{
                max-width: 200px;
                border-radius: 4px;
                //margin: 0 auto; 
                display:block;
                border: 2px solid #E2E2E2;
            }
            .EditInfoFrom{
                text-align: left;
                display:inline-block;
                width: 400px;
                padding:1rem;
                vertical-align: top;
                .form-group{
                    display:flex;
                    margin-bottom:.5rem;
                    align-items: center;
                    justify-content: space-between;
                    input{
                        border: 1px solid gray;
                        padding: .3rem .5rem;
                        border-radius: .2rem;
                    }
                }
                
            }
        }
    }
}