.feature-page {
  display:grid;
  grid-template-columns: 400px auto;
  grid-template-rows: auto;
  width:100%;
  transition: all .5s;
  
  @media screen and (max-width:900px) {
    width:calc(100% + 400px);
    &[data-off-canvas="true"]{
      margin-left: -400px;
    }
    &[data-off-canvas="false"]{
      margin-left: 0px;
    }
   
  }
  .NewsCardsContainer{
    overflow-y: scroll;
    max-height: 94vh;
    padding: 0 1rem;
    //background:#0d0310;
    //box-shadow: -10px 0px 10px 1px #aaaaaa;
  }
  .PrincipalContent{
    overflow-y: scroll;
    max-height: 94vh;
    .BreakingNewsSlider{
      padding: 10px 1rem;
    }
    .CollectionsContainer{
      padding: .5rem;
      text-align: center;
      //padding: 10px 1rem;
      /*display:flex;
      justify-content: space-between;
      flex-wrap:wrap;*/
      .RecomendationTitle{
        color:white;
        margin-left:.7rem;
        text-align:left;
        display:bloc;
      }
    }
  }

  h1 {
    font-size: 2em;
    margin-bottom: 0.25em;
  }
  
  ul {
    font-family: Georgia, Times, 'Times New Roman', serif;
    padding-left: 1.75em;

    li {
      margin: 1em 0;

      p.title {
        font-weight: bold;
      }
    }
  }
}
