body{
  margin:0;
  padding:0;
  //background: #131117;
  background: #0a0411;
  background-image: url("../../images/bg/b1.jpg");
  background-size:cover;
  background-attachment: fixed;
  background-blend-mode: hue;
  max-height: 100vh!important;
  overflow:hidden;
}
h1, h2, h3, h4, h5 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}
