.NewsCard{
    
    border:1px solid #E2E2E2;
    border-radius:4px;
    margin-bottom: 1rem;
    &:hover{
        border:1px solid rgb(197, 197, 197);
    }
    //max-width: 700px;
    .NewsCardTitle{
        font-size: 1.5rem;
        display:block;
        text-decoration: none;
        color:black;
        margin-bottom:.5rem;
        font-weight: 500;
    }
    .NewsCardBody{
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .NewsCardContent{
            width: calc(100% - 180px);
            .Summary{
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;  /* Number of lines displayed before it truncate */
                overflow: hidden;
            }
        }
        .clip{
            height: 150px;
            width: 150px;
            border-radius: 4px;
            position:relative;
            overflow: hidden;
            .Thumbnail{
                position: absolute;
                top: -9999px;
                bottom: -9999px;
                left: -9999px;
                right: -9999px;
                margin: auto;
                min-width: 100%;
                height: 100%;
            }
        }
    }
    
    
}


